/* NASCAR COLORS */
/* YELLOW: #EDC240 */
/* RED: #BC2021*/
/* PURPLE: #88166D */
/* BLUE: #02549E */
/* BROWN: #2E250C */

/* Use Cmmd + Shift + Del in Chrome to refresh page */

* {
  box-sizing: border-box;
  /*border: 1px solid purple;*/
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

body {
  /*background-color: #2E250C;*/
  width: 100%;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  top: 0;
}

header h1 {
  width: 100%;
  top: 1em;
  text-align: center;
  color: #02549E;
  font-size: 6em;
  font-family: 'Bungee Inline', cursive;
  letter-spacing: .5em;
  margin: 2em auto 0;
  position: absolute;
}

header img {
  top: 0;
  opacity: .8;
  width: 100%;
  position: relative;
  float: center;
  z-index: -1;
}

span {
  font-size: 2.6em;
  font-family: 'Permanent Marker', cursive;
  margin: 0 auto;
  color: #88166D;
  text-decoration: none;
  position: relative;

}

#logo {
  right: 0;
  width: 20%;
  height: 2.5em;
  float: right;
  margin: 1em auto;
}


nav {
  border: 1px solid purple;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  background: url(static/images/flag.png);
  background-color: #EDC240;
}

a:link, a:visited {
  text-decoration: none;
}


a {
  color: #BC2021;
  font-size: 2em;
  margin: 0 1em;
  width: 100%;
  /*padding: .7em;*/
}


#driver {
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: .5em 3em 0 3em;
  font-size: .7em;
}

h2 {
  font-size: 3.6em;
  color: #02549E;
  text-align: center;
  text-decoration: underline;
  margin: 1em auto;
  width: 100%;
  letter-spacing: .3em
}

#driver_list {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-size: .8em;
  color: #EDC240;
  text-align: center;
}

#driver {
  width: 30%;
  margin: 0 auto;
}

.purple {
  color: #88166D
}

#driver_name {
  /*text-align: left;*/
}

#bio {
  list-style: none;
  font-size: 2em;
}

ol {
  margin-left: 2em;
}

#standing_list {
  font-size: 2em;
}


footer {
  background-color: #EDC240;
  padding: 1em;
}
