{% load staticfiles %}

<html>
    <head>
        <title>Racechart</title>
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/racechart.css' %}">


    </head>
    <body>
      <header>
        <h1>RaceChart</h1>
        <img id="logo" src="{% static 'images/nascar_logo.png' %}">
      </header>
      <div id='flag'>
        <nav>
            <a href="/">Home</a>
            <a href="/drivers">Drivers</a>
            <a href="/race">Race</a>
            <a href="/results">Results</a>
            <a href="/standings">Standings</a>
        </nav>
        <hr />
        {% block content %}
        {% endblock %}
    </body>
    <hr />
    <footer>RaceChart is brought to you by Team FMTB</footer>
</html>
