{% load staticfiles %}

<html>
    <head>
        <title>Racechart</title>
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/racechart.css' %}">


    </head>
    <body>
      <header>
        <a class="home"><img id="logo" src="/static/images/racechart-logo.png"></a>
        <nav class="header-nav">
          <a class="header-nav-link" href="#">Drivers</a>
          <a class="header-nav-link" href="#">Teams</a>
          <a class="header-nav-link" href="#">Races</a>
          <a class="header-nav-link" href="#">Standings</a>
        </nav>
      </header>

        {% block content %}
        {% endblock %}
    </body>
    <hr />
    <footer>
      <h3>RaceChart is brought to you by Team FMTB</h3>
    </footer>
</html>
