{% extends 'racechart/base.html' %}
{% load staticfiles %}

{% block content %}
<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<div id="main">
  <section id='graphSection'>
    <h2>Graph</h2>
    <form id="graph-list">
      <select id='driveFunction' onchange="getId(this)">
        {% for standing in standings %}
        <option id='{{ standing.driver.pk }}'>
            {{ standing.driver }}
        </option>
        {% endfor %}
      </select>
    </form>
    <section id="graph">
      <div id='graphed'>
        <h1>Select a Driver!</h1>
      </div>
    </section>
    <h2>Driver of the Day</h2>
    <div id="driver_of_the_day">
      <img id="driver" src="{% static 'images/kyle_busch.png' %}"/>
      <p>Kyle Busch Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>
  <aside>
    <div id="standings">
      <h3>Standings</h3>
      <ol>
        {% for standing in standings %}
        <li id='standing_list'>
            {{standing.driver}}
        </li>
        {% endfor %}
      </ol>
    </div>
  </aside>
</div>

{% endblock %}
