<!-- {% load staticfiles %} -->

<html>
    <head>
        <title>RaceChart</title>
        <!-- <link rel="stylesheet" href="{% static 'css/tunr.css' %}"> -->

    </head>
    <body>
        <h1>RaceChart</h1>
        <nav>
            <a href="">Drivers</a>
            <a href="">Races</a>
            <div class="user-info">
                <ul>
                    {% for driver in drivers %}
                    <li>{{ full_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <hr />
<!--         {% block content %}
        {% endblock %} -->
    </body>
    <hr />
    <footer>I am a footer, all rights reserved</footer>
</html>
